h1{
/* background-color: aliceblue;
text-align: center;
text-transform: capitalize;
color: transparent;
text-shadow: 1px 1px 2px red , 2px 2px 2px blue; */
font-family: verdana ,serif;


}
p{
text-decoration:solid;
text-align: left;
letter-spacing: 2px;
line-height: 1rem;
font-family: sans-serif;
font-style: oblique;
}

a
{
text-align:center;
text-decoration-style: wavy;

}