body{
    margin:0;
    background-color: teal;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.container{
width: 300px;
height: 300px;
border: 2px solid white;
animation: circles 2s infinite;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    /* position: absolute; */
    
   
    
}

@keyframes cricles{
    0% {
        transform: translate(0,0);

    }
    50% {
        transform: translate(200px,0);
    }

    75% {


    }
   

}

